body {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  background-color: #F0F0F0;
}

pre, code {
  font-family: 'Source Code Pro', monospace;
}

pre {
  background-color: lightgrey;
  padding: 6px;
  border-radius: 4px;
}

code {
  background-color: lightgrey;
  border-radius: 4px;
}

p {
  margin: 1em 0;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-weight: bold;
}

em {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-body {
  flex: 1;
}

.note-container {
  display: flex;
}

.note-list {
  flex: 0;
  min-width: 200px;
  padding: 20px;
}
.note-small {
  padding: 10px;
}

.note-small span {
  cursor: pointer;
}

.note-hero {
  flex: 1;
  padding: 30px;
}

footer {
  text-align: center;
  flex: 0;
  padding: 20px;
  background-color: #3C3C3C;
  color: #F0F0F0;
}

.nav-bar {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: #3C3C3C;
  color: #F0F0F0;
}

.nav-logo-img {
  height: 50px;
  width: auto;
}

.nav-list {
  display: flex;
}

.nav-list span {
  cursor: pointer;
  padding: 14px;
}

.hero-button-module {
  text-align: right;
}

textarea {
  border-style: none;
  border-color: Transparent;
  overflow: auto;
  outline: none;
}
